/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/

/* body */
body {
    background-color: #191a1e;
}

.header {
    display: flex;
    min-height: 62px;
    align-items: center;
    padding: 0px 15px;
    justify-content: space-between;
    margin: 0px;
    width: 100%;
    top: 0;
    left: 0;
}



button {
    cursor: pointer;
}

a.logo {
    display: flex;
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
}

/* image logo */
.logo img {
    width: 25px;
    height: 25px;
    border-radius: 5px;
}

.header__logo-text {
    font-family: "JetBrains Mono";
    font-size: 18px;
    font-weight: 400;
    padding-left: 9px;
    color: #fff;
    align-items: center;
}

/* все меню */
.menu__list {
    display: flex;
    color: #fff;
    font-weight: 700;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* меню пункт */
menu__item {
    flex: 1 1 auto;
    /* margin: 0px 40px 0px 0px; */
    /* margin-right: 40px; */
}

.menu__list a {
    display: flex;
    color: #fff;
    font-family: "JetBrains Mono";
    text-decoration: none;
}

.menu__list a:hover {
    text-decoration: underline;
}

.themetoggle {
    background-color: #805ad5;
    border-radius: 5px;
    padding: 2px 2px;
}

.themetoggle span {
    padding: 7px 7px;
}

.material-icons {
    color: #fff;
}

.material-icons:hover {
    background-color: #6d47bf;
    transition: background-color 0.3s ease 0s;
}

main {
    max-width: 576px;
    margin: 0px auto;
    margin-top: 0px;
    padding: 0px 15px;
    margin-top: 20px;
}


.base__title {
    display: flex;
    justify-content: center;
    font-family: "Bebas Neue";
    color: #f5f2f2;
    width: 100%;
    font-size: 20px;
    letter-spacing: 2px;
}

.base__area {
    resize: none;
    margin-top: 50px;
    font-family: "JetBrains Mono";
    font-size: 16px;
    background-color: #313134;
    color: #f5f2f2;
    width: 100%;
    height: 100%;
    border-color: #3d3d3b;
    caret-color: rgb(192, 255, 212);
}


.base__button-send-request {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.base__send-request {
    display: inline-block;
    font-weight: 400;
    font-family: "JetBrains Mono";
    color: #212529;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    background-color: #f8f9fa;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    line-height: 1.5;
    cursor: pointer;
}

.base__send-request:hover {
    background-color: rgb(196, 195, 195);
    transition: background-color 0.3s ease 0s;
}

.answer__title {
    font-family: "Bebas Neue";
    width: 100%;
    font-size: 20px;
    letter-spacing: 2px;
    color: #f5f2f2;
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

.answer__answer {
    display: flex;
    margin-top: 20px;
    font-family: "JetBrains Mono";
    color: #f5f2f2;
}

/* ========LIGHT-THEME======== */
html.dark,
.dark body {
    background: #f0e7db;
    color: #000;
}

/* цвет кнопки для смены темы */
.dark .material-icons {
    background-color: #e0d530;;
}

.dark .material-icons:hover {
    background-color: #b7a125;
}

/* текст с лого */
.dark .header__logo-text {
    color: #000;
}

/* меню */
.dark .menu__item a {
    color: #000;
}

/* первый тайтл */
.dark .base__title {
    color: #000;
}

/* поле ввода */
.dark .base__area {
    color: #000;
    background-color: #cdb3d0;
    caret-color: rgb(34, 28, 204);
}

/* 2 тайтл */
.dark .answer__title {
    color: #000;
}

/* ответ бота */
.dark .answer__answer {
    color: #000;
}